@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}


.bg-F1F3F6 {
    background-color: #F1F3F6;
}

.img-border {
    border: none;
    padding: 43px 113px;
    border-top-left-radius: 30px;
    background-color: #ffffff;
}

.img-border-2 {
    border: none;
    padding: 43px 113px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
}

.font-16px {
    font-size: 16px;
}

.font-17px {
    font-size: 17px;
}

.line-25px {
    line-height: 25px;
}

.font-35px {
    font-size: 35px;
}

.font-60px {
    font-size: 60px;
}

.font-20px {
    font-size: 20px;
}

.line-30px {
    line-height: 30px;
}

.ff-poppins {
    font-family: 'poppins',
        sans-serif;
}

.line-90px {
    line-height: 90px;
}

.line-52px {
    line-height: 52px;
}

.border-2px {
    border: none;
    border-top-left-radius: 30px;
    background-color: white;
    padding: 43px 113px;
}


.w-422px {
    max-width: 422px;
}

.w-464px {
    max-width: 464px;
}

.para-2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'poppins',
        sans-serif;
}

.bg-background {
    background-image: url(../image/Group-129.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* height: 100vh; */
}

.w-206px {
    max-width: 206px;
}

.w-222px {
    max-width: 240px;
}

.w-710px {
    max-width: 710px;
}

.w-201px {
    max-width: 201px;
}

.w-797px {
    max-width: 797px;
}

.border-1px {
    border: none;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.button-hover {
    color: black;
    border: 2px solid black;
    border-radius: 30px;
}

.button-hover:hover {
    background-color: #000000;
    color: #ffffff;
}

.trans-x {
    transform: translateY(-50%);
}

.line {
    margin-top: 50px;
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}

.img-pos {
    transform: translateX(20%);
}

.img-pos-2 {
    transform: translateX(-20%);
}

.img-3-sec {
    padding-top: 70px;
    padding-bottom: 250px;
}

@media(max-width:992px) {
    .img-pos {
        transform: translateX(0%);
    }

    .img-pos-2 {
        transform: translateX(0%);
    }

    .flex-lg-column_reverse {
        flex-direction: column-reverse;
    }

    .trans-x {
        transform: translateY(0%);
    }

    .main-h {
        padding-top: 40px;
    }

}


@media (max-width:768px) {
    .flex-lg_column {
        flex-direction: column;
    }
}


@media (max-width:576px) {
    .font-35px {
        font-size: 25px;
    }
}