@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.height-top {
    height: 850px;
}

.bg-image {
    background-image: url(../image/Vincent-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mb-lg {
    margin-bottom: 40%;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.button-l {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background: rgba(207, 207, 207, 0.22);
    border: 3px solid #FFFFFF;
    border-radius: 27px;
    padding: 13px 36px;
}

.button-k {
    background: #FFFFFF;
    border-radius: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding: 13px 37px;
    color: #000000;
    border: none;
}

.h1-A {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    max-width: 729px;
}

.h1-define {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}

.text-align {
    text-align: center;
}

.p-define {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    max-width: 332px;
    color: #515151;
}

.transform-box {
    transform: translateY(-150%);
    background: #FFFFFF;

}

.margin-top {
    margin-top: 200px !important;
}

/* section-3 */

.bg-color {
    background: #F1F3F6;
}

.h1-Funds {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    text-align: justify;
    color: #000000;
    max-width: 239px;
    margin-bottom: 60px;
}

.p-Z {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #515151;
    max-width: 664px;
    margin-bottom: 16%;
}

.p-six {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    white-space: nowrap;
}

/* section-4 */

.h1-we {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    max-width: 742px;
    color: #000000;
}

.h1-strong {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #000000;
}



.p-Focus {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    max-width: 371px;
    color: #515151;
}


/* css 2nd */
.bg-F1F3F6 {
    background-color: #F1F3F6;
}

.img-border {
    border: none;
    padding: 43px 113px;
    border-top-left-radius: 30px;
    background-color: #ffffff;
}

.img-border-2 {
    border: none;
    padding: 43px 113px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
}

.font-16px {
    font-size: 16px;
}

.font-17px {
    font-size: 17px;
}

.line-25px {
    line-height: 25px;
}

.font-35px {
    font-size: 35px;
}

.font-60px {
    font-size: 60px;
}

.font-20px {
    font-size: 20px;
}

.line-30px {
    line-height: 30px;
}

.ff-poppins {
    font-family: 'poppins',
        sans-serif;
}

.line-90px {
    line-height: 90px;
}

.line-52px {
    line-height: 52px;
}

.border-2px {
    border: none;
    border-top-left-radius: 30px;
    background-color: white;
    padding: 43px 113px;
}


.w-422px {
    max-width: 422px;
}

.w-464px {
    max-width: 464px;
}

.para-2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'poppins',
        sans-serif;
}

.bg-background {
    background-image: url(../image/Group-129.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* height: 100vh; */
}

.w-206px {
    max-width: 206px;
}

.w-222px {
    max-width: 240px;
}

.w-710px {
    max-width: 710px;
}

.w-201px {
    max-width: 201px;
}

.w-797px {
    max-width: 797px;
}

.border-1px {
    border: none;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #ffffff;
}

.button-hover {
    color: black;
    border: 2px solid black;
    border-radius: 30px;
}

.button-hover:hover {
    background-color: #000000;
    color: #ffffff;
}

.trans-x {
    transform: translateY(-50%);
}

.line {
    margin-top: 50px;
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}

.img-pos {
    transform: translateX(20%);
}

.img-pos-2 {
    transform: translateX(-20%);
}

.img-3-sec {
    padding-top: 70px;
    padding-bottom: 250px;
}

@media (min-width:992px) {
    .transform-box {
        position: absolute;
        transform: translateX(-50%) translateY(-150%);
        background: #FFFFFF;
        top: 0;
        left: 50%;

    }
}

@media (max-width:992px) {

    .sm-screen {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: rgb(95, 87, 216);
        left: -100%;
        z-index: -1;
        transition: all 300ms linear;
    }

    .show {
        left: 0;
    }

    .h1-we {
        font-size: 25px;
    }

    .transform-box {
        transform: translateY(-20%);
        background: #FFFFFF;

    }

    .margin-top {
        margin-top: 0px !important;
    }

    /* css 2nd */
    .img-pos {
        transform: translateX(0%);
    }

    .img-pos-2 {
        transform: translateX(0%);
    }

    .flex-lg-column_reverse {
        flex-direction: column-reverse;
    }

    .trans-x {
        transform: translateY(0%);
    }

    .main-h {
        padding-top: 40px;
    }


}

@media (max-width:786px) {
    .h1-we {
        font-size: 20px;
    }

    .h1-A {
        font-size: 48px;
    }

    /* css 2nd */
    .flex-lg_column {
        flex-direction: column;
    }
}

@media (max-width:556px) {
    .h1-we {
        font-size: 14px;
    }

    .h1-A {
        font-size: 22px;
    }

    .button-l {
        font-size: 12px;
    }

    /* 2nd css */
    .font-35px {
        font-size: 25px;
    }

}